#  Local .terraform directories
**/.terraform/*
**/*.tfplan
**/*.log
**/logs/*
# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# any terraform lock files
.terraform.lock.hcl