# Install a fresh new system (optional)
install

# Specify installation method to use for installation
# To use a different one comment out the 'url' one below, update
# the selected choice with proper options & un-comment it
cdrom

# Set language to use during installation and the default language to use on the installed system (required)
lang en_US.UTF-8

# Set system keyboard type / layout (required)
keyboard us

# Configure network information for target system and activate network devices in the installer environment (optional)
# --onboot	enable device at a boot time
# --device	device to be activated and / or configured with the network command
# --bootproto	method to obtain networking configuration for device (default dhcp)
# --noipv6	disable IPv6 on this device
# To use static IP configuration,
# network --bootproto=static --ip=10.0.2.15 --netmask=255.255.255.0 --gateway=10.0.2.254 --nameserver 192.168.2.1,192.168.3.1
network --onboot yes --activate --device ens160 --bootproto=static --ip=10.89.246.3 --netmask=255.255.255.0 --gateway=10.89.246.1 --nameserver=10.89.243.20,10.89.243.21

# Set the system's root password (required)
# Plaintext password is: server
rootpw --iscrypted $6$rhel6usgcb$aS6oPGXcPKp3OtFArSrhRwu6sN8q2.yEGY7AIwDOQd23YCtiz9c5mXbid1BzX9bmXTEZi.hCzTEXFosVBI5ng0

# Configure firewall settings for the system (optional)
# --enabled	reject incoming connections that are not in response to outbound requests
# --ssh		allow sshd service through the firewall
# firewall --enabled --ssh
firewall --enabled --ssh --smtp --port=22:tcp --port=25:tcp  

group --name=admins 

user --name=johnhession --plaintext --password=password123 --groups=wheel,admins

rootpw --plaintext QAZWSXqazwsx1234!@


# Set up the authentication options for the system (required)
# --enableshadow	enable shadowed passwords by default
# --passalgo		hash / crypt algorithm for new passwords
# See the manual page for authconfig for a complete list of possible options.
authconfig --enableshadow --passalgo=sha512

# State of SELinux on the installed system (optional)
# Defaults to enforcing
selinux --enforcing

# Set the system time zone (required)
timezone US/Pacific

# Specify how the bootloader should be installed (required)
# Plaintext password is: password
bootloader --location=mbr --append="crashkernel=auto rhgb quiet" --password=$6$rhel6usgcb$kOzIfC4zLbuo3ECp1er99NRYikN419wxYMmons8Vm/37Qtg0T8aB9dKxHwqapz8wWAFuVkuI/UJqQBU92bA5C0
autopart --type=lvm
# Initialize all disks

clearpart --linux --initlabel

# Packages selection
%packages --ignoremissing
Require @Base
@Base
@core
sed
epel-release
python3
python-pip
python-setuptools
python-devel
redhat-rpm-config
gcc
libffi-devel
openssl-devel
pyOpenSSL
@admin-tools
perl
less
dmidecode
bzip2
iproute
iputils
sysfsutils
rsync
rsyslog
nano
mdadm
@system-tools
setserial
man-pages.noarch
findutils
tar
net-tools
tmpwatch
lsof
python
screen
firewalld
lvm2
curl
ypbind
yp-tools
smartmontools
openssh-clients
acpid
irqbalance
which
bind-utils
ntsysv
ntp
man
dnsutils
wget
vim
nano
#mysql
postfix
chkconfig
gzip
%end 
# End of %packages section

%post
#sudo yum upgrade -y
echo "password123" | sudo -S yum update -y
usermod -aG wheel johnhession
systemctl restart postfix.service
chkconfig ntpd on
chkconfig sshd on
chkconfig ypbind on
chkconfig iptables off
chkconfig ip6tables off
chkconfig yum-updatesd off
chkconfig haldaemon off
chkconfig mcstrans off
chkconfig sysstat off
%end

reboot